#principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300vw;
    background-color: #F2BC79;
   
}
#encabezado{
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 10vw;
    margin:20px;
    box-shadow: 2px 2px 2px 2px;
    background-color: #F2A413;
}

div{
    border: solid px black;
}

.btn {
    width: 120px;
    height: 30px;
    margin-top: 100px;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   button:hover {
    color: black;
   }
   
   button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }
#divimagen{
    width: 300px;
    height: 300px;
    position: relative;bottom:90px;
}
#imagen{
    width: 100%;
    height: 100%;
}
#divlogin{
    width: 250px;
    height: 250px;
    position: relative;bottom:55px;
}
#login{
    width: 100%;
    height: 100%;
}
#divcuerpo{
    width: 96%;
    margin:20px;
    height: 100vw;
    background-color: #D96C0D;
    border-radius: 20px;
}
#divpiedepagina{
    display: flex;
    width: 96%;
    height: 10vw;
    margin:20px;
    box-shadow: 0px 10px 10px 0px;
    background-color: #A6430A;
    border-radius: 20px;
}
#copy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 20PX;
}
/* From Uiverse.io by eslam-hany */ 
.book {
    position: relative;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  .p {
    font-size: 20px;
    font-weight: bolder;
  }
#div2{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    border: solid 2px;
    position: relative;top: 300px;
}
#div3{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    border: solid 2px;
    position: relative;top: 400px;
}